<!DOCTYPE html>
<html lang="en-US">

<head>
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <script src="js/jquery-3.5.1.js"></script>
  <script src="js/scripts.js"></script>
  <title>Package Cost Calculator</title>
</head>

<body>
  <div class="container">
    <h1>Package Cost Calculator</h1>
    <div>
      <h3>Welcome the the package cost calculator. Please select an option ro proceed.</h3>
      <a href="parcels/newparcel"><button class="btn btn-success">Calculate the cost of my package</button></a>
    </div>
  </div>
</body>

</html>